body {
  color: #fff;
  background: #2d78b9;
}

.App {
  text-align: center;
}

.mainLogo {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 20px 40px;
}

.LeftBar {
  display: inline-block;
  width: 300px;
  min-width: 300px;
  background: #1d68a9;
  height: 100vh;
}

.LeftBar button {
  display: block;
  margin: 20px auto;
  width: 70%;
  height: 40px;
  font-size: 20px;
  border-radius: 3px;
  background-color: #f99245;
  color: #000;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
  border: 0px solid #000000;
}

.Main {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  margin-top: 20px;
}

.container {
  display: flex;
  width: 100%;
}

.TopTen {
  width: 40%
}

.RecentGames {
  width: 100%;
}

.BlueTile {
  background-color: #044075;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
  margin: 0 20px;
  padding: 0 20px 20px;
}

.TopTen ul {
  list-style: none;
  margin: none;
  padding: 0;
}

.playerName, .playerRanking {
  display: inline-block;
  width: 49%;
}

.playerName {
  text-align: left;
}
.playerRanking {
  text-align: right;
}
