body {
  color: #fff;
  background: #2d78b9;
}

.App {
  text-align: center;
  height: 100vh;
}

.leftBar {
  position: relative;
  top: 0;
  display: inline-block;
  width: 20%;
  background: #1a578c;
  height: 100vh;
  text-align: left;
}

.main {
  position: relative;
  top: 0;
  display: inline-block;
  width: 79%;
  height: 100vh;
}

.logo {
  margin-left: 20px;
  padding-left: 0;
}

.nav {
  list-style-type: none;
  text-align: left;
  margin-left: 20px;
  padding-left: 0;
}

.nav li {
  margin: 10px 0;
}